<h1>New Cat Form</h1>

<form action="<%= cats_url %>" method="POST">
  <label for="name">Name:</label>
  <input id="name" type="text" name="cat[name]">
  <br>
  <label for="color">Color:</label>
  <input id="color" type="text" name="cat[color]">
  <br>
  <label for="birth_date">Birthday:</label>
  <input id="birth_date" type="text" name="cat[birth_date]">
  <br>
  <label for="sex">Sex:</label>
  <input id="sex" type="text" name="cat[sex]">
  <br>
  <label for="description">description:</label>
  <input id="description" type="text" name="cat[description]">
  <br>
  <input type="submit" value="Create Cat">
</form>